body {
    padding: 0;
    margin: 0;
   }
   html, body, #weathermap {
    height: 100%;
    width: 100%;
   }
#earthquake {
    height: 100%;
    width: 100%;
}
.legend {
    background: white;
    padding: 10px;
    line-height: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px gray;
}

.legend h4 {
    margin: 0 0 5px;
}
.legend {
    background: white;
    padding: 10px;
    border-radius: 5px;
    line-height: 20px;
    box-shadow: 0 0 5px gray;
}

.legend h4 {
    margin: 0 0 5px 0;
}
html, body {
    margin: 0;
    padding: 0;
}

#weathermap {
    height: 100vh;
    width: 100%;
}



.legend i {
    margin-right: 5px;
}
